  body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
   }

  p {font-size: 16px;}

  .bg-1 {
    background-color: #ff1a1a; /* red */
    color: #000066;
  }
  .bg-2 {
    background-color: #000066; /* blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* white*/
    color: #555555;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav li a:hover {
    color: #1abc9c !important;
  }

  .margin {margin-bottom: 45px;}