body {
    background-image: url("https://media.timeout.com/images/100644443/image.jpg");
    background-color: #cccccc;
}

  h1, h2 {
  color: White;
  font-family: 'Georgia', 'Times', serif;
}

  h2 {
  font-family: 'Georgia', 'Times', serif;
}

  p {
  font-family: 'Georgia', 'Times', serif;
}

  a {
  color: SeaGreen;
  text-decoration: none;
}

  ul {
  font-family: 'Georgia', 'Times', serif;
}

  ol {
  font-family: 'Georgia', 'Times', serif;
}

  img {
  border-radius: 100%;
} 

  * {
  font-family: 'Georgia', 'Times', serif;
}